version: "3.9"
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports: ["27017:27017"]
    volumes:
      - mongo-data:/data/db
  mongo-express:
    image: mongo-express:1.0.2-20
    restart: unless-stopped
    ports: ["8081:8081"]
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin
volumes:
  mongo-data:
